body
  font: 18px/1.4 font-body
  background: color-white
  color: color-black

h1, h2, h3
  margin-bottom: 0.5em
  
h1
  font-size: font-big
  
h2
  font-size: (font-big/1.5)
  
h3 
  font-size: (font-big/1.75)

h1, h2, h3, h4, h5, h6, b, strong, mark
  font-weight: bold

p
  margin-bottom: 0.5em
  
ui()
  text-transform: uppercase
  font-family: Arial
  font-weight: bold
  letter-spacing: 1px
  cursor: pointer

input,
button
  font-size: 1em
  font-family: font-body
  
input
  border: 0.2em solid color-gray
  padding: 0.4em
  transition: border 1s ease-out
  background: color-white
  color: lighten(color-black, 10%)
  
  &:hover
    border-color: color-black
    
  &:focus, &:active
    color: color-black
    border-color: color-black
    background: white
    outline: 0
    cursor: text

button,
.button
  ui()
  padding: 0.5em 0.6em 0.4em
  background: color-black
  color: color-white
  border: 0.25em solid color-black
  position: relative
  
  &:hover
    background-color: invert(color-black)
    color: invert(color-white)
    
  &:active
    top: 1px
    
label
  ui()
  display: block 