header
  h1
    span.title=app.name

article
  :markdown

    August 11–12, 2012, a young girl in Steubenville, Ohio was raped. 

    On March 17, 2013, two young men were convicted for the horrible crime. As 
    <a href="http://news.yahoo.com/blogs/lookout/cnn-steubenville-rape-poppy-harlow-144458279.html" target="_blank">this blog post details</a>, CNN took charge in <a href="http://gawker.com/5991003/cnn-reports-on-the-promising-future-of-the-steubenville-rapists-who-are-very-good-students" target="_blank">“publicly worry[ing] about the 'promising future' of the convicted rapists”</a>, not giving the victim much thought at all.

    But it was not – is not – limited to mainstream media. This sort of behaviour thrives on Twitter. And is often unchallenged. Until now. We've gathered and will continue to gather atrocious tweets that deserve to be replied to; to be challenged – to show that we are many that will not tolerate this kind of behaviour, or the culture that supports it. 

  .text-center
    button Read the tweets and respond
