header
  h1.title=app.name

article
  h2 Ah, welcome.
  img(src='http://25.media.tumblr.com/tumblr_lxyp9pSLP31qeynx8o1_500.png')
  p This is just a demo page. Do something about it!

form
  p.form-group
    label Input
    input.write-something(type='text')

  button.button(type='submit') Action!