p.action
	span.name
	a(href='#', target="_blank").username
	|  tweeted

.tweet Shouldn't they charge someone for something?

p
	a.respond.button(href='#', target='_blank') Write a response
p
	a.more(href='#more') Show me another tweet
