!!! 5
html
  head
    meta(charset='utf-8' )
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    meta(name="description", content="Reply to the people who send vicious tweets")

    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(property="og:title", content="steubenvillereplies.com")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://steubenvillereplies.com/")

    meta(property="og:site_name", content="steubenvillereplies.com")

    title=app.name
    link(rel='stylesheet', href='stylesheets/app.css')
    link(rel='stylesheet', href='stylesheets/vendor.css')
    script
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {enabled: true};
      
      WebFontConfig = { fontdeck: { id: '31058' } };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

    script(src='javascripts/vendor.js')
    script(src='javascripts/app.js')
    script
      require('initialize')

  body#application

    #content.container

    .screenreader
      include views/templates/index
      
    footer.gray
      ul
        li Recommended reading:
        li 
          a(href='http://www.newstatesman.com/laurie-penny/2013/03/steubenville-rape-cultures-abu-ghraib-moment', target='_blank') "Steubenville: this is rape culture's Abu Ghraib moment"
        li.right Fonts by 
          a(href='http://lettersfromsweden.se', target='_blank') Letters from Sweden


